/* Home.css */

.home-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    /* full screen */
    /* overflow: hidden; */
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
    opacity: 0.5;
    /* Optional: makes text more visible */
}

.home-content {
    position: relative;
    z-index: 2;
    color: white;
    /* text-align: center; */
    /* border: 2px solid red; */
    margin: 5rem auto;
    /* background-color: rgba(0, 0, 0, 0.448); */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    gap: 1rem;
}

.home-content h1 {
    font-size: 2.7rem;
    font-weight: bolder;
    margin-bottom: 0;
    /* line-height: 4.5rem; */
}

.home-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.home-content button {
    padding: 1.5rem 2rem;
    background-color: #a27d27c9;
    /* your gold color */
    border: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-content button:hover {
    background-color: #a27e27;
}

@media screen and (max-width:1025px) {
    .home-content {
        width: 100%;
    }
    .home-content h1 {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
    .home-content p {
        font-size: 1.3rem;
    }
}